
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #c6b0c4, #7287b5);
  align-items: center;
  height: 615px;
}

.modal-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 16px;
  text-decoration: none;
  width: 16px;

  svg {
    width: 16px;
  }
}

.modal-wrapper {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modal {
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

#modal:target {
  opacity: 1;
  visibility: visible;
}

#modal:target .modal-body {
  opacity: 1;
  transform: translateY(1px);
}

#modal .modal-body {
  max-width: 500px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.3s ease;
  width: 100%;
  
  z-index: 1;
}

#editModal {
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

#editModal:target {
  opacity: 1;
  visibility: visible;
}

#editModal:target .modal-body {
  opacity: 1;
  transform: translateY(1px);
}

#editModal .modal-body {
  max-width: 500px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.3s ease;
  width: 100%;
  
  z-index: 1;
}

#editModal .modal-card {
    width: 40vw;
    height: 80%;
}

#editModal form{
  display: contents;
}

.modal-card-foot{
    background-color: #f5f5f5;

}


.outside-trigger {
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.button__link {
  text-decoration: none;
}

.notif {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  min-width: 250px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  animation: fadeInOut 4s ease forwards;
}

@keyframes fadeInOut {
  0% {opacity: 0; transform: translateY(30px);}
  10% {opacity: 1; transform: translateY(0);}
  90% {opacity: 1; transform: translateY(0);}
  100% {opacity: 0; transform: translateY(30px);}
}

.custom{
  font-size: -webkit-xxx-large;
    padding-left: 30%;
    display: block;
    border-radius: 15px;
}